<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>dispaly_webpages</h1>
        <table border="3px">
            <tr>
                <th>pk value</th>
            
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
                    
            </tr>
        {% for ao in acessrecords %} 
             <tr>
                <td>{{ao.pk}}</td>
    
                <td>{{ao.name}}</td>
                <td>{{ao.date}}</td>
                <td>{{ao.author}}</td>
             </tr>
        {% endfor %}
        </table>
    </center>
    
</body>
</html>